<h1>Pinger</h1>
<form><label>Measurement note: </label><input type="text" id="input-note"></input><button id="botton-note" onClick="return false">Confirm</button></form>
<table id="ping-stats"></table>
