<h1>Pinger</h1>
<form>
  <label>Note: </label>
  <input type="text" id="input-note"></input>
  <button id="button-note" onClick="return false">Confirm</button>
  <label>Interval: </label>
  <select id="input-interval">
    <option value="10">10 sec</option>
    <option value="30">30 sec</option>
    <option value="60" selected>1 min</option>
    <option value="300">5 min</option>
    <option value="600">10 min</option>
    <option value="1800">30 min</option>
    <option value="0">Stop</option>
  </select>
</form>
<table id="ping-stats"></table>
<hr>
<p>
  A ping measures a round tip time of messages through WebSocket from your browser to the server. Your IP address is recorded on the server.
</p>
<p>
  Fork me on <a href="https://github.com/zunda/pinger">GitHub</a>.
</p>
